.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr auto;
    /* row-gap col-gap  */
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    ".";
}

.header {
  background-color: #E0E0E0;
  /* background-image: ; */
}
.title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1rem 20px;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 5px;
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.inputs {
  display: inline-block;
  padding: 10px 5px;
  font-size:large;
  width: 40%;
}

.btn {
  padding: 10px 5px;
  font-size:large;
  width: 10%;
  margin: 0 2px;
}